[submodule "sdks/facebook"]
	path = sdks/facebook
	url = https://github.com/facebook/facebook-php-sdk.git
	ignore = dirty
[submodule "sdks/twitter"]
	path = sdks/twitter
	url = https://github.com/J7mbo/twitter-api-php.git
	ignore = dirty
[submodule "sdks/instagram"]
	path = sdks/instagram
	url = https://github.com/estevaolucas/Instagram-PHP-API.git
	ignore = dirty
[submodule "sdks/youtube"]
	path = sdks/youtube
	url = https://github.com/vitorhsb/youtube-public-php-api.git
